@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}
::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

img {
    width: 100vw;

}
a {
    padding: 20px;
    color: white;
    background-color: darkred;
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
}
a:hover {
    background-color: red;
   
   
}